*.dump
*~
*/_build/development/sig
*/_build/development/tar
*/_build/development/info
*/_build/development/apps
*/_build/development/docs
*/_build/development/releases
*.beam
*#
Servers
*.class
couchbeam
bson-erlang
couchdb
mongodb-erlang
mysql-0.1.0
mysql-0.1.0.*
cw_mongo.1
bigcouch
bson
hovercraft
erlang-mysql-driver
mongodb
OTP/*/_build/development/*
.metadata
.project
.classpath
.settings
.svn
*svn
firehose
